.footer {
    
    background-color: #777;
    padding: 10px;
    text-align: center;
    color: white;
}
.bodyheight{
    min-height: auto;
    max-height: auto;
}
.bodyfont{
    color: rgb(76, 4, 244);
}
.center {
    margin: auto;
    width: auto;
    border: #666;
    padding: 0px;
  }
  .logo {
    background-color: #666;
    padding: 0px;
    text-align: center;
    font-size: 0px;
    color: rgb(255, 255, 255);
  }
  .nav {
    margin: auto;
    width: 100%;
    border: 0px solid rgb(56, 238, 10);
    padding: 0px;
  }